@model CoreRepo.Models.Entity.COURSEMODEL
@{
    ViewData["Title"] = "Index";
}

<div class="bg-success text-white">Kurs Listesi</div>
<div class="card">
    <div class="card-body">
        <form method="get" id="filter">
            <div class="form-group">
                <input name="name" class="form-control" placeholder="Kursun İsmi"
                       value="@ViewBag.Name" />
            </div>
            <div class="form-group">
                <input name="price" class="form-control" placeholder="Kursun Fiyatı" value="@ViewBag.Price" />
            </div>
            <div class="custom-checkbox custom-control">
                <input name="isActive" class="custom-control-input" type="checkbox"
                       id="isActive" checked="@ViewBag.isActive" />
                <label class="custom-control-label" for="isActive">Aktif</label>
            </div>
            <button class="btn btn-primary">Filtreler</button>
        </form>
    </div>
</div>
</ br>
<a asp-action="Ekle" class="btn btn-success">Ekle</a>
</ br>
<table class="table table-bordered table table-striped table table-hover">
    <thead>
        <tr>
            <th>Kurs İsmi</th>
            <th>Fiyat</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.clist)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Fiyat</td>
                <td>@item.Aktif</td>
                <td></td>
                <td>
                    <a asp-action="Detay" class="btn btn-success" asp-route-id="@item.Id">Detay</a>

                    <a asp-action="Guncelle" class="btn btn-warning" asp-route-id="@item.Id">Düzenle</a>


                    <a asp-action="Sil" class="btn btn-danger" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



